<h1>Events at Berkeley</h1>
<h3>Campus & Community</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 offset-md-1 offset-sm-1" id="main-section">

           {{#each articles}}
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-1">
                        <img src="{{this.photo}}" id="photo{{this.domId}}" style="width:100%">
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-10">
                        <h4 id="title{{this.domId}}">{{this.title}}</h4>
                        <h5 id="summary{{this.domId}}">{{this.summary}}</h5>
                        <a id="link{{this.domId}}" href="{{this.link}}" target="_blank"><p>View Source</p></a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-1">
                        <button class="submitBtn btn btn-danger" id="submit{{this.domId}}" class="btn btn-danger" style="width:100%">Save Article</button><br><br>
                        <button class="noteBtn btn btn-success" id="note{{this.domId}}" style="width:100%">Add Note</button>
                    </div>
                </div>
                <hr>
           {{/each}}

        </div>
    </div>

</div>