<h1>Events at Berkeley</h1>
<h3>Campus & Community</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 offset-md-1 offset-sm-1" id="main-section">

           {{#each articles}}
                <div class="row border border-secondary rounded active mb-0" id="article-block">
                    <div class="col-md-3 col-sm-2 col-xs-1" style="text-align: center">
                        <img src="{{this.photo}}" id="photo{{this._id}}" style="width:100%">
                        <a id="link{{this._id}}" href="{{this.link}}" target="_blank" class="link">View Source</a>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-10">
                        <h4 id="title{{this._id}}">{{this.title}}</h4>
                        <h5 id="summary{{this._id}}" class="lead">{{this.summary}}</h5>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-1">
                        <br>
                        {{#if this.saved}}
                            <button class="submitBtn btn btn-danger" id="submit{{this._id}}" class="btn btn-danger" style="width:100%">Remove</button><br><br>
                        {{else}}
                            <button class="submitBtn btn btn-danger" id="submit{{this._id}}" class="btn btn-danger" style="width:100%">Save Article</button><br><br>
                        {{/if}}

                        {{#if this.note._id}}
                            <button class="noteBtn btn btn-success" id="note{{this._id}}" style="width:100%">View Note</button>
                        {{else}}
                            {{#if this.saved}}
                                <button class="noteBtn btn btn-success" id="note{{this._id}}" style="width:100%">Add Note</button>
                            {{else}}
                                <button class="noteBtn btn btn-success" id="note{{this._id}}" style="width:100%" disabled>Add Note</button>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <hr>
           {{/each}}

        </div>
    </div>

</div>

 